    #frete {
            text-align: center;
            padding: 05px;
            font-family: "gotham-narrow", sans-serif;
            font-weight: 900;
            font-style: normal;
            font-size: 15px;
            color: aliceblue;
            background-color: black;
        }
    h2  {
        margin-left: 40px;
        font-family: "gotham-narrow", sans-serif;
        font-weight: 200;
        font-style: normal;
        margin-top: 40px;
    }
    .card-group {
        padding: 30px
    }
    #dois {
        margin-top: -3%;
    }
